:root {
  --clr-red: hsl(10, 79%, 65%);
  --clr-cyan: hsl(186, 34%, 60%);
  --clr-dkbrown: hsl(25, 47%, 15%);
  --clr-brown: hsl(28, 10%, 53%);
  --clr-cream: hsl(27, 66%, 92%);
  --clr-ltorange: hsl(33, 100%, 98%);

  --fs-body: 1.125rem;
  --fw-400: 400;
  --fw-700: 700;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: "DM Sans", sans-serif;
  background-color: var(--clr-cream);

  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  margin: 4rem 1rem;
}
